/* App-specific CSS. Inlined into main page, php interpolation supported. */

/* undo/modify some skeleton css */

body {
  line-height: revert;
  font-size: medium;
}
pre, blockquote, dl, figure, table, p, ul, ol, form, input, textarea, select, fieldset { margin-bottom: revert; }
a { color: revert; }
a:hover { color: revert; }
button, label { margin-bottom:revert; }

h1 {
  font-size:3rem;
  font-weight:bold;
  margin-bottom:0;
}

.container {
  padding:0;
}

/* page elements */

body {
  font-family: sans-serif;

  /* a haskell.org purple: */
  background: rgb(255,255,255);
  /* background: linear-gradient(white 0, rgba(64,29,95,.5) 40em); */
  background: linear-gradient(
     white
    ,rgb(213,204,220) 6em
    ,rgb(213,204,220) 30em
    ,rgb(173	154	185)
    );
}

a {
  text-decoration: none;
}

#heading {
  padding: 1em;
  text-align:center;
}

#about {
  font-size:large;
  margin-left:2em;
  margin-right:1em;
  margin-bottom:1em;
}
#aboutlink {
  margin-left: -1em;
}
#aboutcontent > div {
  margin-top:.5em;
  line-height: 1.5em;
}
#aboutcontent > div a {
  white-space: nowrap;
}

.dataTables_wrapper .dataTables_filter {
  float:left;
  text-align:left;
}
.dataTables_wrapper .dataTables_info {
  float:right;
  font-size:small;
}

#links_filter input[type=search] {
  margin-left:4px;
  width: 15em;
  font-size:medium;
  background-color: white;
  font-weight:bold;
  /* font-style:italic; */
}
.dataTables_filter, .dataTables_info, .dt-buttons, .dtsp-title {
  margin-left: 1em;
  margin-right: 1em;  
}
.info-top {
  text-align:center;
}
.dtsp-title {
  display: inline-block;
  font-weight: normal;
  font-size: small;
}

#column_filters {
  display:inline-block;
  white-space:nowrap;
}
div.dtsp-searchPanes {
  font-size:small;
}
.dtsp-disabledButton {
  color: #aaa !important;
}
.dtsp-panesContainer {
  display: none;
}
div.dtsp-panesContainer button.dtsp-clearAll, div.dtsp-panesContainer button.dtsp-collapseAll, div.dtsp-panesContainer button.dtsp-showAll {
  padding-top:0;
}
/* div.dtsp-panesContainer div.dtsp-searchPanes div.dtsp-searchPane button.dtsp-paneButton, */
div.dtsp-panesContainer div.dtsp-searchPanes div.dtsp-searchPane input.dtsp-paneInputButton {
  background-color:white;
}

table#links {
  /* table-layout: fixed; */
  width: 100%;
  max-width: 100%;
  padding-top: .5em;
}
th {
  text-align: left;
}
/* td {
  border:none;
} */
tr.odd td {
  /* background-color:#f0f0f0; */
  background-color:rgba(64,29,95,.1)
}
tr.even td {
  /* background-color:white; */
}
td.url {
  overflow-x:hidden;
  /* white-space:nowrap; */
  word-break:break-all;
  text-overflow: ellipsis;
  font-size:small;
}
td.id {
  width:15%;
  font-size:small;
  word-break:break-all;
}
td.desc {
  word-break:break-all;
  font-size:small;
}
td.source {
  font-size:small;
  text-align:right;
}

/* .tag {
  white-space: nowrap;
  color:darkgreen;
  background-color: #cdc;
  opacity: .5;
  border-radius: .3em;
  padding:.1em;
} */
