/* App-specific CSS. Inlined into main page, php interpolation supported. */

/* undo/modify some skeleton css */

body {
  line-height: revert;
  font-size: medium;
}
pre, blockquote, dl, figure, table, p, ul, ol, form, input, textarea, select, fieldset { margin-bottom: revert; }
a { color: revert; }
a:hover { color: revert; }
button, label { margin-bottom:revert; }
ul { list-style:revert ;}

h1 {
  font-size:3rem;
  font-weight:bold;
  margin-bottom:0;
}

.container {
  padding:0;
}

/* page elements */
html {
  /* a haskell.org purple: */
  background: linear-gradient(
     white 4em
    ,rgb(213,204,220) 8em
    ,rgb(194, 174, 205)
    );
  min-height: 100%;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

#heading {
  padding: 1em;
  text-align:center;
}

#about {
  margin-left:2em;
  margin-right:1em;
  margin-bottom:1em;
}
#aboutlink {
  font-size:large;
  font-weight: bold;
  margin-left: -1em;
}
#aboutcontent {
  margin-top:.5em;
  line-height: 1.5em;
}
#aboutcontent > div a {
  white-space: nowrap;
}

#inputs {
  clear:both;
  text-align:left;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
#links_filter label {
  text-align:left;
}
#links_filter input[type=search] {
  margin-left:4px;
  width: 15em;
  font-size:medium;
  background-color: white;
  font-weight:bold;
  /* font-style:italic; */
}
.dataTables_filter, .dataTables_paginate, .dataTables_length, .dataTables_info, .dt-buttons, .dtsp-title {
  margin-left: 1em;
  margin-right: 1em;  
}

#pagecontrols {
  margin-top: .5em;
  clear:both;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
.dataTables_wrapper .dataTables_filter {
  float:none;
  /* text-align:left; */
}
/* .dataTables_wrapper .dataTables_length {
} */
.dataTables_wrapper .dataTables_paginate {
  padding-top:0;
  /* float:left; */
  /* width:100%;
  text-align:center; */
}
.dataTables_wrapper .dataTables_info {
  padding:0;
  margin-right:2em;
  float:right;
  font-size:small;
}
.dtsp-title {
  display: inline-block;
  font-weight: normal;
  font-size: small;
}

#column_filters {
  display:inline-block;
  white-space:nowrap;
}
div.dtsp-searchPanes {
  font-size:small;
}
.dtsp-disabledButton {
  color: #aaa !important;
}
.dtsp-panesContainer {
  display: none;
}
div.dtsp-panesContainer button.dtsp-clearAll, div.dtsp-panesContainer button.dtsp-collapseAll, div.dtsp-panesContainer button.dtsp-showAll {
  padding-top:0;
}
/* div.dtsp-panesContainer div.dtsp-searchPanes div.dtsp-searchPane button.dtsp-paneButton, */
div.dtsp-panesContainer div.dtsp-searchPanes div.dtsp-searchPane input.dtsp-paneInputButton {
  background-color:white;
}

table#links {
  table-layout: fixed;
  width: 100%;
  max-width: 100% !important;
  padding-top: .5em;
  /* font-size:small; */
  overflow-wrap: break-word;
  /* word-break:break-all; */
  /* overflow-x:hidden; */
  /* text-overflow: ellipsis; */
}
th {
  text-align: left;
}
/* td {
  border:none;
} */
tr.odd td {
  background-color:rgba(64,29,95,.1)
}
/* tr.even td {
} */
td.url {
  /* word-break:break-all; */
}
td.id {
  width:15%;
}
/* td.desc {
} */
td.source {
  text-align:right;
}

/* .tag {
  white-space: nowrap;
  color:darkgreen;
  background-color: #cdc;
  opacity: .5;
  border-radius: .3em;
  padding:.1em;
} */
